<h1>Welcome Back!</h1>

<% unless current_user %>
  <%= link_to 'Sign up', new_user_registration_path %> | <%= link_to 'Log in', new_user_session_path %>
<% else %>
  <%= link_to 'My profile', user_path(current_user)%> | <%= link_to 'Browse', posts_path %>
<% end %>
