<p id="notice"><%= notice %></p>
<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>
<strong>Comments:</strong>
<%= @post.comments_count %>
<ul>
  <%= render @post.comments, comment: @comment %><br>
</ul>
